* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
  
  }
  
  html {
    background-color: #ffffff;
    font-size: 60%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/welcomebg.jpg')no-repeat;
    background-size: cover;
    background-position: center;
  
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  

  
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #3a0000;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .wrap {
    width: 30%;
    top: 50%;
    left: 50%;
    margin-left: 470px;
    transform: translate(-50%, -50%);
  }

  
  
  .Ucenter {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 50px;
    padding-top: 50px;
  }
  
  .Dcenter {
  
    width: 50%;
    padding-top: 50px;
  }
  
  
  .searchTerm:focus {
    color: #060606;
  }
  
  .searchButton {
    width: 40px;
    height: 30px;
    border: 1px solid #ffffff;
    background: #722525;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .main_wrap {
    margin-top: 30px;;
      backdrop-filter: blur(20px);
      width: 1000px;
      min-height: 300px;
      border-radius: 10px;
      margin-left: 20px;
  }
  

  
  .input-box {
    position: relative;
    width: 70%;
    height: 50px;
    border-bottom: 2px solid #fafafa;
    margin: 10px;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -4px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: whitesmoke;
    border: none;
    font-size: 1.2em;
    text-align: left;
    outline: none;
    padding: 0 35px 0 5px;
  }
  
  
  .center {
    margin-top: 70px;
    margin-left:420px;
    width: 50%;
    padding: 10px;
  }

    
  .bcenter {
    margin-left:350px;
    width: 50%;
    padding: 10px;
  }
  
  
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 50px;
  }
  
  .btn {
    width: 130px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 500;
  }
  
  .btn:hover {
    background: #fff;
    color: black;
  }
  
  .message {
    font-weight: 1;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    margin: auto;
    width: 30%;
    padding-left: 20px;
    padding: 10px;
  
  }
  
  .tbtn {
    width: 70px;
    height: 30px;
    background: rgb(4, 125, 125);
    border: 5px solid transparent;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: 300;
  }
  
  .tbtn:hover {
    background: #fff;
    color: black;
  }
  
  .dbtn {
    width: 60px;
    height: 30px;
    background: rgb(158, 7, 7);
    border: 5px solid transparent;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: 300;
  }
  
  .dbtn:hover {
    background: #ffffff;
    color: black;
  }
  
  .GoBack-btn
  {
      width: 100px;
      height: 30px;
      background: transparent;
      border: 2px solid white;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1.2em;
      color: whitesmoke;
      font-weight: 500;
      margin-right: 400px;
      margin-top: 25px;
  }
  
  .GoBack-btn:hover {
      background: #fff;
      color: black;
  }
  
  
  