* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}

html {
    background-color: #ffffff;
    font-size: 60%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/welcomebg.jpg')no-repeat;
    background-size: cover;
    background-position: center;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .logo {
    position: relative;
    font-size: 2em;
    color: #ffffff;
  }

  .main_wrap {
      margin-top: 100px;
      backdrop-filter: blur(20px);
      width: 400px;
      height: 550px;
      border-radius: 10px;
      margin-left: 20px;
      
      
  }

  .main_wrap2{
    margin-top: 100px;
    backdrop-filter: blur(20px);
    width: 400px;
    height: 550px;
    border-radius: 10px;
    margin-left: 300px;
}

  

  
  .input-box {
    position: relative;
    width: 80%;
    height: 50px;
    border-bottom: 2px solid #fafafa;
    margin: 10px;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -4px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: whitesmoke;
    border: none;
    font-size: 1.2em;
    outline: none;
    padding: 0 35px 0 5px;
  }
  
  
  .center {
    margin-top: 70px;
    margin-left:420px;
    width: 50%;
    padding: 10px;
  }
  
  
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 50px;
  }
  
  .btn {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 500;
    margin-left: 100px;
    margin-top: 30px;
  }
  
  .btn:hover {
    background: #fff;
    color: black;
  }
  
  .message {
    font-weight: 1;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    margin: auto;
    width: 30%;
    padding-left: 20px;
    padding: 10px;
  
  }
  